body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20px;
}


header {
    background-color: #565245;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.title {
    font-size: 36px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title span {
    color: #f0c518;
}

.summary {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.book-count {
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.book-count p {
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.book-goal {
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.book-goal p {
    text-align: left;
    margin: 0;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.book-section {
    text-align: center;
    margin: 25px 0;
    padding-top: 0;
    padding-bottom: 0;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #f0c518;
}

.read .section-title {
    color: #f4ece6;
    border-color: #f4ece6;
}

.done .section-title {
    color: #f5f5f5;
    border-color: #f5f5f5;
}

.not-read .section-title {
    color: #f2dfd7;
    border-color: #f2dfd7;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-content {
    display: none;
    padding: 10px 0;
}

.expanded .section-content {
    display: block;
}

.section-title:hover {
    border-color: transparent;
}

.toggle-icon {
    font-size: 24px;
    margin-left: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    transform-origin: center;
}

.collapsed .toggle-icon {
    transform: rotate(45deg);
}

.book-entry {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    max-width: 225px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.book-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
}


.book-entry:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(240, 197, 24, 0.5); /* Subtle glow color */
}



.book-entry img {
    width: 140px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #222; 
    vertical-align: middle;
}

.book-entry h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    max-width: 120px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

.book-entry .author {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    color: #555;
}

.book-entry .review {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    color: #565245;
}

.stars {
    font-size: 24px;
    text-decoration: underline;
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #f0c518;
}

footer {
    text-align: center;
    padding: 20px;
    color: #fff;
}

footer p {
    text-decoration: overline ;
}

.BAM {
    font-size: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.github-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
}
